#img{
    width: 60px;
    margin-left: 75px;
}
.container{
    max-width: 1000px;
}
.img2 img{
    width: 150px;
    margin-left: -150px;
    margin-top: -18px;
}
#color{
    color: white;
}

.card-body{
    text-align: center;
}
.card{
    border: none;
    box-shadow: 0px 1px 19px -9px lightgray;
    padding: 40px 0px 30px 0px;
}
.container{
    margin-bottom: 50px;
}
.see-all-style{
    padding-top: 10px;
    color: orange;
}
.card-img-top{
    padding: 0rem 1.25rem 0rem 1.25rem;
}

#hs{
    border-bottom: 7px solid rgb(255, 166, 0);
    border-radius: 5px;
    width: 100px;
    margin-left: 437px;
}
.img-border1{
    border: 2px solid red;
    height: 200px;
    width: 180px;
}
.img-border{
    border: 2px solid red;
    height: 200px;
}
.height{
    height: 300px;
}
#align{
    margin-left: 240px;
    margin-top: -130px;
}
.image-100{
    width: 85px;
}